:root {
    --base-font-family: 'Noto Sans JP', sans-serif;
    --title-font-size: 70px;
    --cerise: #D54E80;
    --white: #FFFFFF;
}

/* ===================================================================
 * # header
 *
 * ------------------------------------------------------------------- */
body {
    background-color:rgb(255 255 255);
    font-family: var(--base-font-family)
}
input[type="text"] {
    height: 50px;
    padding: 5px;
    font-family: var(--base-font-family)
}
input[type="radio"] {
    accent-color: var(--cerise);
    transform: scale(2);
    margin-left: 30px;
}
input[type="file"] {
	transform: scale(1.5);
    font-family: var(--base-font-family)
}
label {
    font-size: 20px;
}

.container {
    width: 90%;
    max-width: 960px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

}
.subtitle {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    margin: auto;
    font-size: 44px;
    font-weight: 700;
}
.title {
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: 900;
}
.title-section {
    position: relative;
    width: 90%;
    padding-top: 10%;
    margin: auto;
    color: var(--midnight-blue);
    font-family: var(--base-font-family);
    display: grid;
    align-items: center;
    justify-content: center;
}

/* ===================================================================
 * # upload
 *
 * ------------------------------------------------------------------- */
.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#namebox {
    align-items: center;
    font-size: medium;
}
#cmtbox {
    align-items: center;
    font-size: medium;
}
.button {
    width: 80px;
    height: 40px;
    border-color: var(--cerise);
    background-color: var(--cerise);
    color: var(--white);
    font-size: 20px;
    vertical-align: top;
    border-radius:0.8em;
}

#preview {
    display: flex; /* 要素を横並びに */
    justify-content: center; /* 横方向に中央揃え */
    flex-wrap: wrap; /* 画像が複数ある場合に折り返す */
    margin-top: 20px; /* 上部に余白 */
}
#preview img {
    width: 70vw;
    margin: 40px;
    border: solid 1px silver;
}

.notice1 {
    margin: auto;
    font-family: var(--base-font-family);
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

/* ===================================================================
 * # uploaded
 *
 * ------------------------------------------------------------------- */
.text{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-family: var(--base-font-family);
    font-weight:bold;
}
a.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 150px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	color: var(--white);
    border-color: var(--cerise);
    background-color: var(--cerise);
	border-radius: 100vh;
	transition: 0.5s;
    font-size: 40px;
    font-family: var(--base-font-family);
}
a.btn:hover {
	color: #fff;
	background: #000000;
}
